
  @import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Noto+Sans+KR:wght@500&family=Poppins:ital,wght@0,200;1,900&display=swap');

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    width: 100%;
    
}
.sidebar{
    position:fixed;
    height: 100%;
    width: 240px;
    background: #0A2558;
    
}
.sidebar .logo-detils{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 50px;

    
}
.sidebar .logo-details i{ /*손하트 로고*/
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    min-width: 60px;
    text-align: center;
    margin-top: 8px;
    
    
}
.sidebar .logo-details .logo_name{/*로고 이름: 기부어때*/
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    margin-left: 8px;
    margin-top: 6px;
   
   
}

.sidebar .nav-links {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}

.sidebar .nav-links li {
    height: 60px;
    width: 100%;
    list-style: none;
    margin-top: auto; /* 마지막 항목을 아래로 이동 */
}

.sidebar .nav-links li:last-child {
    margin-top: 180px; /* 로그아웃 항목의 아래 여백을 조정 */
}


/*.sidebar .nav-links{
    margin-top: 16px;
    
}

.sidebar .nav-links li{
    height: 60px;/*링크 목록 높이(사이)의 값
     width: 100%;
    list-style: none;
}*/

.sidebar .nav-links li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;/*전환효과*/
    
}

.sidebar .nav-links li a:hover{/*커서 올리면 변환되는 색*/
    background: #081D45;
}

.sidebar .nav-links li a i{ /*링크 목록 아이콘*/
    
    min-width: 60px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    
}

.sidebar .nav-links li a .link_name{/*링크 목록 이름*/
    color: #fff;
    font-size: 15px;
    font-weight: 400;

}

/* Home-Section CSS */
.home-section{
    background-color:#f5f5f5;
    position: relative;
    min-height: 100vh;
    width: calc(100%-240px);
    left: 240px;
    
}
.home-section nav{/* 상단 네비*/
    height: 80px;
    background: #fff;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.home-section nav .sidebar-button{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

.home-section nav .sidebar-button .i{
    font-size: 35px;
    margin-right: 10px;
}


.home-section nav .search-box{
 
 height: 50px;
 width: 550px;
 margin: 0 20px;

}

nav.search-box input{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    padding: 0 15px;
    font-size: 17px;
    background:#F5F6FA ;
    border: 2px solid #EFEEF1;
    outline: none;
}

nav .search-box .bx-search{
    position: absolute;
    right: 5px;
    top: 50%
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    background: #2697FF;
    border-radius: 6px;
    color: #fff;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
}